:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-background-color: #ffffff;
  --middle-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --hero-btn-text-color: #ffffff;
  --main-btn-text-color: #212121;
  --btn-background-color: #f5f4fa;
  --active-btn-text-color: #ffffff;
  --active-btn-background-color: #2196f3;
  --active-hero-btn-background-color: #188ce8;
  --hero-btn-background-color: #2196f3;
  --first--link-color: #212121;
  --second-link-color: #757575;
  --third-link-color: #ffffff;
  --active-link-color: #2196f3;
  --card-border: #eeeeee;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.card {
  vertical-align: middle;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header .conteiner {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-navigation {
  display: flex;
}

.header-logo {
  display: inline-block;
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 25px;
  padding-left: 0;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.top-contacts-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.web,
.studio,
.studio-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--first-logo-color);
}

.studio {
  color: var(--second-logo-color);
}

.studio-footer {
  color: var(--third-logo-color);
}

.header-list,
.top-contacts-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
}

.header-link {
  color: var(--first--link-color);
}

.top-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-item:not(:first-child),
.top-contact-item:not(:first-child) {
  margin-left: 50px;
}

.current {
  color: var(--active-link-color);
}

.top-email-link,
.top-tel-link {
  color: var(--second-link-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--active-link-color);
}

.top-email-link:focus,
.top-email-link:hover,
.top-tel-link:focus,
.top-tel-link:hover {
  color: var(--active-link-color);
}

.header-list {
  margin-left: 93px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-right: auto;
}

.section.no-padding-top {
  padding-top: 0;
}

.btn {
  font-family: inherit;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*---------------------HERO-----------------------*/
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-color: var(--dark-background-color);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--hero-btn-text-color);
  background: var(--hero-btn-background-color);
  cursor: pointer;

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-hero-btn-background-color);
}

/*-------------------FEATURES-----------------*/
.features-list {
  display: flex;
}

.feature-item:not(:first-child) {
  margin-left: 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.direction-list {
  display: flex;
}

.direction-item:not(:first-child) {
  margin-left: 30px;
}

/*------------------TEAM----------------------*/
.team {
  background-color: var(--middle-background-color);
}

.content-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  text-align: center;
}

.teams-item:not(:first-child) {
  margin-left: 30px;
}

.teams-item {
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-position {
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

/*-----------------FOOTER---------------------*/

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  font-style: normal;
}

.footer-item {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--third-link-color);
}

.footer-link-mail,
.footer-link-tel {
  color: var(--third-link-color);
  opacity: 0.6;
}

.footer-link:hover,
.footer-link:focus,
.footer-link-mail:hover,
.footer-link-tel:hover,
.footer-link-mail:focus,
.footer-link-tel:focus {
  color: var(--active-link-color);
}

.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

/*-----------------PORTFOLIO-----------------------*/

.projects-filter {
  display: flex;
  justify-content: center;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--btn-background-color);
  color: var(--main-btn-text-color);
  border: 0;
  cursor: pointer;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.filter-item {
  margin-left: 8px;
  margin-bottom: 50px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--active-btn-text-color);
  background-color: var(--active-btn-background-color);
}

.project-conteiner {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.project-direction {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
